[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pip = "*"
install = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
pydantic-settings = "*"
sqlalchemy = "*"
redis = "*"
psycopg2 = "*"

[dev-packages]
isort = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"

[scripts]
docker= "docker-compose up -d"
lint = "./scripts/lint"
start = "uvicorn src.main:app --reload"
test = "pytest"
