[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pip = "*"
pip-install = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
pydantic-settings = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
redis = "*"
asyncpg = "*"
exceptiongroup = "*"
requests = "*"
passlib = "*"
jwcrypto = "*"
pytest-asyncio = "*"
pytest = "*"
pre-commit = "*"
click = "==8.0.4"
flake8 = "==6.1.0"
flake8-isort = "==6.1.0"
flake8-quotes = "==3.3.2"
flake8-absolute-import = "*"
black = "==19.10b0"
psycopg2 = "*"
sentry-sdk = {version = "*", extras = ["fastapi"]}

[dev-packages]

coverage = "*"

[requires]
python_version = "3.11"

[scripts]
docker= "docker-compose up -d"
lint = "./scripts/lint"
start = "uvicorn src.main:app --reload"
test = "pytest"
